.history-section {
    text-align: center;
    padding: 65px 30px 70px 30px;
    color: var(--color-main-black)
}

.history-title {
    font-size: 34px;
    font-weight: 700;
    padding: 0 0 65px 0;
}

.history-img {
    width: 100%;
    max-width: 950px;
    height: 655px;
    object-fit: cover;
}

.history-description {
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0 0 0;
}

@media (max-width: 480px) {
    .history-section {
        padding: 50px 30px 70px 30px;
    }
    .history-img {
        height: 480px;
    }
    .history-description {
        font-size: 14px;
    }
}